* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}
body{
    margin:50px 200px;
    padding: auto;
}
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 50%;
  padding: 15px;
  margin: 5px 0 22px;
  display: block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-left: 0;
  width: 50%;

}

/* Set a style for the submit/register button */
.registerbtn {
   
   width: 50%;
  background-color: rgb(57, 160, 123);
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;

  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    width: 50%;
  background-color: #f1f1f1;
  text-align: center;
}